#slide-mobile {
  display: none;
}

#slide-desktop {
  display: block;
}
.static {
  position: static !important;
}
.bg {
  background-color: #ffcf45 !important;
}
.datarating::before {
  font-family: "uicons-regular-straight" !important;
  font-size: 11px;
  letter-spacing: 2px;
  content: "\f225""\f225""\f225""\f225""\f225";
  color: #ffb300;
}

.uppercase::first-letter {
  text-transform: capitalize !important;
}

.header-top-ptb-1 #news-flash li {
  min-height: 8px !important;
}

.btncart {
  width: 13em;
  height: 3em;
  background-color: #44ac9c;
  border: none;
  border-radius: 3em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  color: #fff !important;
  /* font-size: 14.8px !important; */
  transition: transform 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btncart:active {
  transform: scale(0.9);
}

.btn__text {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color);
  position: absolute;
}

.btn__text--second {
  opacity: 0;
}

.btn__icon {
  font-size: 1.3rem;
  color: #fff;
  position: absolute;
}

.btn__icon--cart {
  left: -20%;
}

.btn__icon--box {
  top: -50%;
}

/* --------- ANIMATION ----------- */
.btncart.active .btn__text--first {
  animation: text1 0.3s forwards;
}

.btncart.active .btn__text--second {
  animation: text2 3s forwards;
}

.btncart.active .btn__icon--cart {
  animation: cart 2.5s forwards;
}

.btncart.active .btn__icon--box {
  animation: box 1.5s forwards;
}

@keyframes text1 {
  100% {
    opacity: 0;
  }
}

@keyframes text2 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cart {
  30%,
  60% {
    left: 42%;
  }
  100% {
    left: 110%;
  }
}

@keyframes box {
  80% {
    color: var(--color);
  }
  90%,
  100% {
    top: 15%;
    color: transparent;
  }
}

.modalcart {
  z-index: 99999;

  background-color: #fff;
  border-color: #fff;
  border-width: 2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 450px;
  height: 500px;
  margin: auto;

  outline: 0;
}

.modalbtn {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer !important;

  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
/* Login design */

.containerForm {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #eee;
}
.form.signup {
  opacity: 1;
  display: none;
}
.forms.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}
.forms.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}
header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}
form {
  margin-top: 25px;
}
.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 15px;
  border-radius: 6px;
}
.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #cacaca;
}
.field input:focus {
  border-bottom-width: 3px;
  border-bottom-color: #146c94;
}
.form .fi-rs-eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}
.field button {
  color: #fff;
  background-color: #146c94 !important;
  transition: all 0.3s ease;
  cursor: pointer;
}
.field button:hover {
  background-color: #016dcb;
}
.form-link {
  text-align: center;
  margin-top: 5px;
}
.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}
.form a {
  color: #0171d3;
  text-decoration: none;
}
.form-content a:hover {
  text-decoration: underline;
}
.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 15px 0;
  background-color: #d4d4d4;
}
.line::before {
  content: "Ou";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}
.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.facebook {
  color: #fff;
  background-color: #146c94 !important;
}
a.facebook .facebook-icon {
  height: 28px;
  width: 28px;
  color: #0171d3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.facebook-icon,
img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
a.google {
  border: 1px solid #cacaca;
}
a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;
}

@media screen and (max-width: 500px) {
  .form {
    padding: 20px 10px;
  }

  .smallDeviceHide {
    display: none;
  }

  .newsletter {
    padding-left: 7px !important;
    padding-right: 7px !important;
  }

  .col-xs-6,
  .col-sm-6 {
    width: 49% !important;
    min-width: 49% !important;
  }

  .product-cart-wrap .product-img-action-wrap {
    padding: 5px 5px !important;
  }

  #hidefrommobile {
    display: none;
  }

  #spacemobile {
    margin-top: 12px;
  }

  .product-img img {
    height: 195px !important;
  }

  .row > * {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }

  .product-category {
    display: none;
  }

  .modal {
    width: 94% !important;
    left: 10px;
  }

  .product-cart-wrap .product-content-wrap h2 {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
  }

  #slide-mobile {
    display: block;
  }

  #slide-desktop {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #hidemobile {
    display: none;
  }

  .header-action-2 {
    margin-top: 23px;
  }
}

::selection {
  background-color: #146c94;
  color: #fff;
}

.sprinloader {
  display: none;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-info > ul > li a:hover {
  color: #fff !important;
}

.mobile-social-icon {
  display: none;
}
